<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAToGLA6FXh0wH2sbxT2vaomcVoa3KLqIE</string>
	<key>GCM_SENDER_ID</key>
	<string>703859549997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webwabi.yett</string>
	<key>PROJECT_ID</key>
	<string>yett-69ab1</string>
	<key>STORAGE_BUCKET</key>
	<string>yett-69ab1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703859549997:ios:3c1c7afff567490c2c95a4</string>
</dict>
</plist>